 body {
 background-image: url("futuristic-global-social-network-geometric-planet-earth-technology-illustration-vector.webp");
 background-repeat: no-repeat ;
 background-size: cover;
 } 

header{
  display: flex;
  justify-content: space-around;
}
 
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

nav{ 
  display: flex;
  gap: 30px;
  align-items: center;
}

a {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: solid;
  color: white;
}

main {
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

p {
  color: white; 
}

a {
  color: rgb(255, 255, 255);
}

.a {
  color: rgb(255, 252, 252);

}

button {
  padding:10px;
  border: none;
  border-radius: 4px;
 background-color: rgb(1, 1, 17);
}

li {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgb(1, 1, 17);
  list-style: none;
}




